#contact_modal {
    display: none;
}

.photographer-header {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 10px 0;
}

.cardPhotographer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 50px;
    margin-left: 50px;
}

.photographer-header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerPictureH2 {
    text-align: center;
    text-decoration: none;
}

.photographer-header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #D3573C;
    font-size: 72px;
    margin-right: 0;
}

.photographer-header img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
    margin-top: 40px;
}

.photographer-header .pId {
    display: none;
}

.photographer-header .cityCountry {
    display: flex;
    margin-bottom: 25px;
}

.photographer-header .pCity {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #901C1C;
    font-size: 25px;
}

.photographer-header .pCountry {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #901C1C;
    font-size: 25px;
}

.photographer-header .pTagline {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
}

.photographer-header .likesPrices {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    padding: 10px 20px 10px 40px;
    background-color: #D3573C;
    bottom: 0;
    right: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.photographer-header .pPrice {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 25px;
    font-weight: bolder;
}

.photographer-header .divTotalLikes {
    display: flex;
    margin-right: 50px;
}

.photographer-header .total {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 25px;
    font-weight: bolder;
}

.photographer-header .heartTotal {
    width: 32px;
    height: 32px;
    border-radius: 0;
    object-fit: none;
    margin: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 120px;
    margin-right: 100px;
}

.send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
    margin-right: 100px;
}
.modal {
    position: absolute;
    top: 5%;
    left: 30%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.divSelect {
    margin-left: 100px;
    margin-top: 20px;
    width: 20%;
}

.divSelect label {
    font-weight: bolder;
    font-size: 20px;
}

.selectOption {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.media-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    width: 90%;
    margin: 50px auto 0;
}

.mediaArticle {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.imageMedia {
    width: 450px;
    height: 400px;
    border-radius: 5px;
}

.playMedia {
    width: 450px;
    height: 400px;
    border-radius: 5px;
}

.titleLikes {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.likeHeart {
    display: flex;
}

.titleMedia {
    font-size: 25px;
    color: #901C1C;
    margin-block-start: 0;
    margin-block-end: 0;
}

.likeMedia {
    font-size: 25px;
    color: #901C1C;
    margin-block-start: 0;
    margin-block-end: 0;
}

.dateMedia {
    display: none;
}

.priceMedia {
    display: none;
}

.lightBox {
    display: none;
}